body{font-family:arial;
    position: fixed;}
.nav {
    display:flex;
    justify-content: flex-end;
    background: #FFCC00
}
.nav a{
    color:#000;
    padding:15px 10px;
    text-decoration:none;
    text-align:center;
}
.nav a:hover {background:#FFCC33;}
@media all and (max-width: 800px) {
    .nav {justify-content: space-around;}
    .nav{flex-grow:1;}
}
@media all and (max-width: 500px){
    .nav {flex-direction:column;}
}